$font-stack: 'Open Sans', sans-serif;
$primary-color: #bdcebe;
$secondary-color: #f9ccac;
$tertiary-color: #5b9aa0;
$text-color: #3e4444;
$background-color: #d6cbd3;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: $font-stack;
  background-color: $background-color;
}

h1 {
  font-size: 35px;
}

button {
  border-radius: 4px;
  min-width: 88px;
  background-color: $secondary-color;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: $text-color;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}

.authorization {
  background-color: $tertiary-color;
  .header {
    h1 {
      color: white;
      display: inline-block;
    }
    padding: 30px 50px 30px 50px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.name {
  color: white;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-table;
  vertical-align: middle;
  font-size: 30px;
  background-color: $primary-color;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  width: 75%;
  margin: 10px 0px 10px 0px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}
